.btn {
  display: inline-flex;
  width: auto;
  height: 3rem;
  padding: 0 2rem;
  font-size: 1rem;
  border: 1px solid $dark;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &-link {
    padding: 0;
    height: auto;
    border: none;
    color: $dark;
  }

  &-link:hover {
    color: $blueviolet;
  }

  &-light {
    background-color: $light;
    color: $dark;
  }

  &-light:hover {
    background-color: $dark;
    color: $light;
  }

  &-dark {
    background-color: $dark;
    color: $light;
  }
  &-dark:hover {
    filter: brightness(125%);
  }

  &-blocked {
    width: 100%;
  }
}
