@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

@import "./settings.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// mixins
@import "./mixins.scss";

// components stylesheets
@import "./components/heroSection.scss";
@import "./components/aboutSection.scss";
@import "./components/experience.scss";
@import "./components/technologies.scss";
@import "./components/skills.scss";
@import "./components/education.scss";
@import "./components/projects.scss";
@import "./components/testimonials.scss";

// ui components stylesheets
@import "./ui/button.scss";
@import "./ui/image.scss";
@import "./ui/modal.scss";

.copyrights {
  text-align: center;
  margin-bottom: 1rem;
}
