// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// colors
$dark: rgba(50, 50, 50, 1);
$light: rgba(255, 255, 255, 1);
$blueviolet: blueviolet;
$dimorange: #fefbf6;
$dimgray: lightgray;

// paddings
$section: 5rem;

// margins

// font sizez
